.react-skeletonify {
  color: transparent !important;
  outline: none !important;
  pointer-events: none !important;
}
.react-skeletonify img {
  opacity: 0;
}

.react-skeletonify a {
  text-decoration: none !important;
  color: transparent !important;
}
.react-skeletonify-text {
  margin-top: 5px !important;
}
.react-skeletonify::placeholder {
  color: transparent !important;
}

/* Animation 1 */
/* animation: react-skeletonify-animation-1 3s ease-in-out infinite;
animation-delay: 0.5s; */
@keyframes react-skeletonify-animation-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Animation 2 */
/* animation: react-skeletonify-animation-2 2s infinite; */
@keyframes react-skeletonify-animation-2 {
  100% {
    transform: translateX(100%);
  }
}

/* Animation 3 */
/* animation: react-skeletonify-animation-3 1s linear infinite alternate; */
@keyframes react-skeletonify-animation-3 {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
