.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  color: transparent;
  background-color: hsl(200, 20%, 90%);
  border: none !important;
  outline: none !important;
  pointer-events: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
